* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#9a08dd 0%, #dd4c4f 40%, #7420d3 100%);
    color: #020202;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    align-items: center;
}

h1 {
    font-size: 2.5em;
}

.profile {
    text-align: center;
    margin-top: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.details, .education, .skills, .aktivitas {
    background-color: #ffffffaf;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}
